
@{
    Layout = "~/Views/Shared/Layouts/LayoutWeb.cshtml";
}
@model G03Trinh_eQLBHDabiLocal.Models.Product

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="container mt-5 mb-5 pr-0">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-5">
                    <div class="border-secondary border rounded p-3">
                        <img src="@Model.url_img" width="100%" id="a" />
                    </div>
                </div>
                <div class="col">
                    <div class="h3">
                        @Model.name
                    </div>
                    <div class="mt-3 text-danger mb-3 h4">
                        @{
                            System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                            <p class="card-text">
                                @Html.Raw(String.Format(cul, "{0:C0}", Model.price))
                            </p>
                        }
                    </div>
                    <div class="mt-3 row align-items-center">
                        <label for="color" id="quantity-input" class="mr-3 col-2 mt-2">Màu sắc: </label>
                        <div class="col-4 row">
                            <div class="col-xs-3 col-xs-offset-3">
                                <div class="input-group number-spinner-color">
                                    <select class="form-control" id="color">
                                        @foreach (var item in G03Trinh_eQLBHDabiLocal.Common.Constant.colors)
                                        {
                                            <option value="@item.Value" @Html.Raw(item.Selected ? "selected" : "")>@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 row align-items-center">
                        <label for="quantity" id="quantity-input" class="mr-3 col-2 mt-2">Số lượng: </label>
                        <div class="col-4 row">
                            <div class="col-xs-3 col-xs-offset-3">
                                <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary mr-2" data-dir="dwn" style="width: 35px">-</button>
                                    </span>
                                    <input type="text" class="form-control text-center mr-2" value="1" id="quantity">
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" data-dir="up" style="width: 35px">+</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @*<input class="form-control" type="number" min="1" value="1" id="quantity" />*@
                    </div>
                    <div class="d-flex mt-3">
                        @if (ViewBag.customer != null)
                        {
                            <div class="mr-3">
                                <a class="btn btn-outline-dark mt-auto out add-bill" data-id="@Model.id" data-quantity="1" data-color="@G03Trinh_eQLBHDabiLocal.Common.Constant.colors[0].Value" href="add/bill">Mua ngay</a>
                            </div>
                        }
                        else
                        {
                            <div class="mr-3">
                                <a class="btn btn-outline-dark mt-auto out add-bill-no" data-id="@Model.id" data-quantity="1" data-color="@G03Trinh_eQLBHDabiLocal.Common.Constant.colors[0].Value" href="add/bill">Mua ngay</a>
                            </div>
                        }
                        <div>
                            <a class="btn btn-outline-dark mt-auto out add-cart" data-id="@Model.id" data-quantity="1" data-color="@G03Trinh_eQLBHDabiLocal.Common.Constant.colors[0].Value" href="add/cart">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h3 mb-3 mt-3">
                Mô tả:
            </div>
            <div>
                @Html.Raw(Model.description)
            </div>
            if (ViewBag.similar.Count > 0)
            {
                <section class="mt-5">
                    <div class="container px-0">
                        <h2 class="fw-bolder mb-4">Sản phẩm tương tự</h2>
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            @{
                                int index = 0;
                                foreach (var item in ViewBag.similar)
                                {
                                    index++;
                                    if (index <= 5)
                                    {
                                        <div class="col mb-5">
                                            <div class="card h-100">
                                                <!-- Product image-->
                                                <img class="card-img-top" height="250px" src="@item.url_img" />
                                                <!-- Product details-->
                                                <div class="card-body p-4">
                                                    <div class="text-center">
                                                        <!-- Product name-->
                                                        <a href="/product/@item.id" class="fw-bolder font-weight-bold text-black" style="height: 30px !important; display: block;">@item.name</a>
                                                        <br />
                                                        <!-- Product price-->
                                                        <div class="mt-1">
                                                            <span class="text-danger font-weight-bold">@Html.Raw(String.Format(cul, "{0:C0}", item.price))</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Product actions-->
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto add-cart-home" data-id="@item.id" data-quantity="1" href="#">Thêm vào giỏ hàng</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </section>
            }
            else
            {
                <h1 class="text-danger">Sản phẩm không tồn tại</h1>
            }
        }
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mời quý khách quét mã QR</h5>
                    <button onclick="loadPage()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="qr" width="100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="select-color">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chọn màu túi sách</h5>
                    <button onclick="loadPage()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mt-3">
                        <label for="color" id="quantity-input">màu sắc: </label>
                        <select class="form-control" id="color">
                            @foreach (var item in G03Trinh_eQLBHDabiLocal.Common.Constant.colors)
                            {
                                <option value="@item.Value" @Html.Raw(item.Selected ? "selected" : "")>@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="d-flex mt-3">
                        <div>
                            <a class="btn btn-outline-dark mt-auto out add-cart-modal" href="add/cart">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.customer != null)
    {
        <div class="modal" tabindex="-1" role="dialog" id="infoBill">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thanh toán</h5>
                        <button onclick="loadPage()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-3">
                            <label for="name">Họ và tên: </label>
                            <input class="form-control" id="name" value="@ViewBag.customer.name">
                        </div>
                        <div class="mt-3">
                            <label for="phone">Số điện thoại: </label>
                            <input class="form-control" id="phone" value="@ViewBag.customer.phone">
                        </div>
                        <div class="mt-3">
                            <label for="address">Địa chỉ: </label>
                            <input class="form-control" id="address" value="@ViewBag.customer.address">
                        </div>
                        <div class="mt-3">
                            <label for="payment">Hình thức thanh toán: </label>
                            <select class="form-control" id="payment">
                                @foreach (var item in G03Trinh_eQLBHDabiLocal.Common.Constant.payments)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="d-flex mt-3">
                            <div>
                                <a class="btn btn-outline-dark mt-auto out" id="billProduct" data-id="@Model.id" data-quantity="1" data-color="@G03Trinh_eQLBHDabiLocal.Common.Constant.colors[0].Value" href="bill">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0&appId=1485180695377543" nonce="kFtwwbMQ"></script>
    <div class="fb-comments" data-href="http://localhost:57511/" data-width="100%" data-numposts="5"></div>
</body>

</html>
